<div class="jumbotron">
    <div class="container">
        <div class="container">
            <h3>Calculate Area</h3>
            <div class="col-xs-12">
                <form [formGroup]="calculateAreaForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="length">Length: </label>
                        <input type="text" (click)="textFieldTouched()" id="length" formControlName="length" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.length.errors  }">
                        <div *ngIf=" submitted && f.length.errors" class="invalid-feedback">
                            <div *ngIf=" submitted && f.length.errors.required ">Please enter Length !</div>
                            <div *ngIf=" submitted && f.length.errors.pattern ">Please enter a valid Length. Make sure to avoid special characters and zero!!</div>
                            <div *ngIf=" submitted && f.length.errors.minlength"> Length should contain minimum of 2 digits</div>
                            <div *ngIf=" submitted && f.width.errors.maxlength"> Length can contain maximum of 9 digits</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="width">Width: </label>
                        <input type="text" (click)="textFieldTouched()" id="Width" formControlName="width" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.width.errors }">
                        <div *ngIf=" submitted && f.width.errors" class="invalid-feedback">
                            <div *ngIf=" submitted && f.width.errors.required"> Please enter Width !</div>
                            <div *ngIf=" submitted && f.width.errors.pattern ">Please enter a valid Width. Make sure to avoid special characters and zero!!</div>
                            <div *ngIf=" submitted && f.width.errors.minlength"> Width should contain minimum of 2 digits</div>
                            <div *ngIf=" submitted && f.width.errors.maxlength"> Width can contain maximum of 9 digits</div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit"> Submit</button>
           
                    <div class="form-group">
                        <label for="area">Area: </label>
                        <input type="text" id="area" formControlName="area" disabled class="form-control">

                    </div>
                    <button class="btn btn-primary" type="submit" (click)="resetForm()"> Clear</button>
                    <!-- <button class="btn btn-primary" type="submit" (click)="nextClick()"> Next</button> -->

                </form>
            </div>
        </div>
    </div>
</div>